body {
  background-color: #CFCCD6;
  font-family: 'EB Garamond', serif;
}

/* navbar styles */
.navbar {
  background-color: #2C5784;
}
/* navbar styles */

/* start form styles */
.display-1 {
  text-shadow: 10px 2px 2px #B7B5E4;
  font-family: 'Lemonada', cursive;
}

.startForm {
  margin-left: 30%;
  margin-top: 10%;
}

.btn {
  margin: 1rem;
}
/* start form styles */

/* join/create room form styles */
.join-createRoom {
  text-align: center;
  display: inline-block;
  margin-left: 42%;
  margin-top: 10%;
}
/* join/create room form styles */

/* split screen in half vertically */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
/* split screen in half vertically */

/* split screen in half horizontally */
.splitHorizontal {
  height: 50%;
}
/* split screen in half horizontally */